<mat-toolbar color="primary" class="footer" [@slideInOut]>
  <span>&copy; 2024 TaskMaster. All rights reserved.</span>
  <span class="spacer"></span>
  <a mat-icon-button href="https://github.com/diegoaberrio" target="_blank">
    <img src="assets/icons/github.svg" alt="GitHub" class="social-icon">
  </a>
  <a mat-icon-button href="https://x.com/eldie10berrio" target="_blank">
    <img src="assets/icons/twitter.svg" alt="Twitter" class="social-icon">
  </a>
  <a mat-icon-button href="https://www.linkedin.com/in/diego-alonso-berrío-gómez" target="_blank">
    <img src="assets/icons/linkedin.svg" alt="LinkedIn" class="social-icon">
  </a>
</mat-toolbar>
