:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet {
  flex: 1;
}

.auth-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.auth-button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff; /* Color azul */
  color: white;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #0056b3;
}

.auth-button:focus {
  outline: none;
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336; /* Color rojo */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #d32f2f; /* Un rojo más oscuro al pasar el mouse */
}
